/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #17a2b8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9;
  background: #fff;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #333;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #17a2b8;
}

/* Forms */
.form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
}

.form .form-group {
  margin-bottom: 1rem;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'] {
  font: inherit;
}

/* Buttons */
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: #17a2b8;
  color: #fff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-light {
  border: 1px solid #ccc;
}

/* Grievance Item */
.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
  background: #fff;
}

/* Comment */
.comment {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.bg-white {
  background: #fff;
}
.p-1 {
  padding: 1rem;
}
.my-1 {
  margin: 1rem 0;
}

.post-date {
    color: #888;
    font-size: 0.8rem;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #17a2b8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
